<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="driverReg.css">

</head>

<body>
    <main>
        <h2>Registration Form</h2>
        <form action="/registerdriver" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>

            <label for="fullname">Full Name:</label>
            <input type="text" id="fullname" name="fullname" required>
            <br><br>

            <label for="vehiclemodel">Vehicle Model:</label>
            <input type="text" id="vehiclemodel" name="vehiclemodel" required>
            <br><br>

            <label for="color">Vehicle Color:</label>
            <input type="text" id="color" name="color" required>
            <br><br>

            <label for="licenseplate">License Plate:</label>
            <input type="text" id="licenseplate" name="licenseplate" required>
            <br><br>

            <input type="submit" value="Register">
        </form>
    </main>
</body>

</html>